@import "../../foundation/variables";

.p-biography {
  &_profile {
    &_name {
      font-family: $family-designed;
      font-weight: 300;
    }
    &_chronology {
      dt {
        float: left;
        clear: left;
        margin-right: 0.5em;
      }

      dd {
        float: left;
        margin-left: 1em;
      }
    }
  }

  &_skills {
    &_level {
      display: flex;
      align-items: center;
    }
  }
}
