@import "../../foundation/variables";

.p-portfolio {
  &_year {
    font-family: $family-designed;
    font-weight: 300;
  }

  &_worksWrap {
    li + li {
      margin-top: 6rem;
    }

    &_workWrap {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
