@import "../../foundation/variables";

.p-portfolio {
  &_year {
    font-family: $family-designed;
    font-weight: 300;
  }

  &_worksWrap {
    li:first-child {
      padding-bottom: 3rem;
    }
    li + li {
      padding: 3rem 0;
    }

    &_workWrap {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
