.c-youtubeEmbed {
  &_videoWrap {
    width: 100%;
    max-width: 640px;
    max-height: 360px;
    margin: 0 auto;

    &--video {
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      position: relative;

      iframe, button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      button {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #cbcbcb;
        border: none;
        cursor: pointer;
        padding: 0;
        overflow: hidden;

        span {
          background: url('~assets/icons/play_circle_outline.svg') no-repeat center;
          background-size: cover;
          display: inline-block;
          width: 70%;
          height: 100%;
        }
      }
    }
  }
}
