.p-blog {
  &_list {
    li + li {
      padding-top: 2.5rem;
    }

    &_postWrap {
      &--title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      &--date {
        font-family: $family-designed;
        font-weight: 300;
        color: $grey;
      }
      &--tags {
        padding-top: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &_pagination {
      font-family: $family-designed;
      font-weight: 300;
      padding-top: 2rem;
    }
  }
}
