.osd {
  position: fixed;
  top: 60px;
  right: 40px;
  background-color: rgba(130, 130, 130, 0.3);
  font-family: var(--font-dot-gothic);
  font-size: 24px;
  font-weight: bold;
  text-shadow:
    1px 0 #000000,
    -1px 0 #000000,
    0 1px 0 #000000,
    0 -1px 0 #000000,
    1px 1px #000000,
    1px -1px #000000,
    -1px 1px #000000,
    -1px -1px #000000;
  color: #00ff00;
  padding: 8px 16px;

  line-height: 1;
  z-index: 10;
  pointer-events: none;
}
